body {
    background-color: lightblue;
}

nav {
   background-color: lightgray;
   height: 120px;
   border: 5px inset gray;
   text-align: right;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.paths a {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: 10px;
    text-decoration: none;
    margin-right: 5px;
}
.paths a:hover {
    background-color: rgb(95, 122, 171);
    color: whitesmoke;
}

.title {
    text-align: left;
    font-size: 21px;
    font-family: sans-serif;
    margin-left: 10px;
}

.main-page {
    background-color:lightgray;
    border: 10px inset gray; 
    width: 32%;
    text-align: center;
    margin-top: 100px;
    margin-left: 397px;
    font-size: 20px;
    line-height: 40px;
  }
  
.main-page a {
      font-family: serif;
      background-color: cornflowerblue;
      color: white;
      text-decoration: none;
      padding: 5px;
}

.main-page a:hover {
      background-color: rgb(95, 122, 171);
      color: whitesmoke;
}

.register {
    background-color:lightgray;
    border: 10px inset gray;
    width: 47%;
    margin-top: 50px;
    margin-left: 20px;
  }
  
.content-register {
      margin-left: 10px;
      margin-bottom: 10px;
      padding: 5px; 
  }

.login {
    background-color:lightgray;
    border: 10px inset gray; 
    width: 32%;
    margin-top: 50px;
    margin-left: 20px; 
}

.content-login {
    margin-left: 10px;
    margin-bottom: 10px; 
}

.profile {
    background-color:lightgray;
    border: 10px inset gray; 
    width: 32%;
    margin-top: 50px;
    margin-left: 20px;
  
  }
.content-profile {
      font-size: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
  }

  .create-task {
    background-color:lightgray;
    border: 10px inset gray; 
    width: 50%;
    margin-top: 50px;
    margin-left: 20px; 
}

.content-create-task {
    margin-left: 5px;
    margin-bottom: 20px; 
}

.view-task {
    background-color:lightgray;
    border: 10px inset gray; 
    width: 60%;
    margin-top: 50px;
    margin-left: 20px;
}

#taskForm, #update-task-form {
    font-size: 20px;
    font-family: serif;
}

.container-delete-task a {
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    border: 3px inset gray;
    margin-left: 5px;
    }

#delete-task-btn {
        background-color: rgb(172, 28, 28);
        color: ghostwhite;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 3px;
        margin-left: 3px;
}