body {
    background-color: lightblue;
}

nav {
   background-color: lightgray;
   height: 120px;
   border: 5px inset gray;
   text-align: right;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.paths a {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: 10px;
    text-decoration: none;
    margin-right: 5px;
}
.title {
    text-align: left;
    font-size: 21px;
    font-family: sans-serif;
    margin-left: 10px;
}

.main-page{
  background-color:lightgray;
  border: 10px inset gray; 
  padding: 5px;
  width: 32%;
  margin-top: 100px;
  margin-left: 397px;
  text-align: center;
  font-size: 20px;
}
.register {
    background-color:lightgray;
    border: 10px inset gray;
    width: 47%;
    margin-top: 50px;
    margin-left: 20px;
  }
  
.content-register {
      margin-left: 10px;
      margin-bottom: 10px;
      padding: 5px; 
  }

.login {
    background-color:lightgray;
    border: 10px inset gray; 
    width: 32%;
    margin-top: 50px;
    margin-left: 20px; 
}

.content-login {
    margin-left: 10px;
    margin-bottom: 10px; 
}

.profile {
    background-color:lightgray;
    border: 10px inset gray; 
    width: 32%;
    margin-top: 50px;
    margin-left: 20px;
  
  }
.content-profile {
      font-size: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
  }