body {
    background-color: lightblue;
 }

 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border: 5px inset gray;
    border-radius: 20px; 
 }

h2 {
    text-decoration: underline;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
 }

.navbar {
    list-style: none;
    display: flex;
 }

.navbar li{
    margin: 0 5px;
 }

.navbar a {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: 10px;
    text-decoration: none;
 }

.navbar a:hover {
    background-color: rgb(95, 122, 171);
    color: whitesmoke;
 }

.title {
    font-size: 21px;
    font-family: sans-serif;
}

.main-page {
    background-color:lightgray;
    border: 10px inset gray;
    border-radius: 20px;  
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    margin-top: 100px;
    margin-left: 350px;
  }
  
.user-tasks {
    display: flex;
    flex-direction: column; 
}

 .user-tasks a {
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    font-family: serif;
    align-self: center;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 7px;
 }

.user-tasks a:hover {
    background-color: rgb(95, 122, 171);
    color: whitesmoke;
 }

 .about-web {
    background-color:lightgray;
    border: 10px inset gray;
    border-radius: 20px;  
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 50px;
    margin-top: 20px;
 }

.about-content {
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 5px;
  }

.register {
    background-color:lightgray;
    border: 10px inset gray;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-top: 50px;
    margin-left: 20px;
  }
  
.content-register {
      margin-left: 10px;
      margin-bottom: 10px;
      padding: 5px; 
  }

.login {
    background-color:lightgray;
    border: 10px inset gray;
    border-radius: 20px; 
    display: flex;
    flex-direction: column; 
    width: 32%;
    margin-top: 50px;
    margin-left: 20px; 
 }

.content-login {
    margin-left: 10px;
    margin-bottom: 10px; 
 }

.profile {
    background-color:lightgray;
    border: 10px inset gray; 
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 50px;
    margin-left: 20px;
  
  }
.content-profile {
      font-size: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
  }

.create-task {
    background-color:lightgray;
    border: 10px inset gray;
    border-radius: 20px;
    width: 50%;
    margin-top: 50px;
    margin-left: 20px; 
 }

.content-create-task {
    margin-left: 5px;
    margin-bottom: 20px; 
 }

.view-task {
    background-color:lightgray;
    border: 10px inset gray; 
    border-radius: 20px; 
    width: 60%;
    margin-top: 50px;
    margin-left: 20px;
}

#update-btn {
    background-color: lightblue; 
    color: blue; 
    border-radius: 10px; 
    text-decoration: none; 
    margin-left: 6px;
}

#update-btn:hover{
    background-color: blue;
    color: lightblue;
}
  
#delete-btn {
    background-color: rgb(247, 201, 201);
    color: red; 
    border-radius: 10px; 
    text-decoration: none; 
    margin-left: 6px;
}

#delete-btn:hover {
    background-color: red;
    color: rgb(247, 201, 201);
}

#taskForm, #update-task-form {
    font-size: 20px;
    font-family: serif;
}

.container-delete-task a {
    color: green; 
    background-color:rgb(230, 255, 230);
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    border: 3px inset gray;
    margin-left: 5px;
}

.container-delete-task a:hover{
    background-color: green;
    color: white;
}

#delete-task-btn {
    color: red; 
    background-color:rgb(255, 230, 230); 
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 3px;
 }

 #delete-task-btn:hover {
    background-color: red;
    color: black;
 }