{% extends "base.html" %}

{% block content %}

<div class="about-web">
    <div class="about-content">
        <h1 style="text-decoration: underline;">What is EquipClean</h1>
        <div class="about-info" style="padding: 0px 18px 20px;">
            <p>
                EquipClean is an APP for scheduling cleaning the gym equipment 
                at the local health club.
            </p>
            <p>
                The employee enters the cleaning tasks to keep track of 
                their scheduled assignments. 
                The tasks can be deleted when they are complete.
                Employees can also add updates to change their schedule.
            </p>
            <p>
                This APP is for exclusive individual employee's tasks 
                for which they are expected to manage. 
                Management will then have confidence all the tasks are completed 
                in a timely manner keeping the health club clean for all the guests.
            </p>
        </div>
    </div>
</div>
{% endblock %}