{% extends "base.html" %}

{% block content %}

    <div class="main-page">
        <h1 style="text-decoration: underline; font-family: sans-serif;">Welcome {{ user.username  }} to EquipClean</h1>
        <p id="login-message" style="display: none; font-size: 20px; font-family: sans-serif; font-weight: bold; padding: 10px; margin-left: 7px;">Please <a href="{% url 'login' %}">Login</a> to access your tasks. If this is your first time here please <a href="{% url 'register' %}">Register</a>.</p>
        <div class="user-tasks">
            <a id="create-task-link" href="{% url 'createTask' %}">Create task</a>
            <a id="view-task-link" href="{% url 'viewTask' %}">View Current Tasks</a>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var userAuthenticated = "{{ user_authenticated|yesno:'true,false' }}";  // Converts Python boolean to JS boolean

            if (userAuthenticated === "false") {
                let taskLink = document.getElementById("create-task-link");
                let viewtaskLink = document.getElementById("view-task-link");
                let loginmessage = document.getElementById("login-message");

                if (taskLink) {
                    taskLink.style.display = "none";  // Hide the link if user is not logged in
                }

                if (viewtaskLink) {
                    viewtaskLink.style.display = "none"; // Hide the link if user is not logged in
                }

                if (loginmessage) {
                    loginmessage.style.display = "block";  // Show login message
                }
            }

            // Success message logic
            let successMessage = localStorage.getItem("successMessage");
            if (successMessage) {
                let messageContainer = document.createElement("p");
                messageContainer.textContent = successMessage;
                messageContainer.style.color = "green";
                messageContainer.style.backgroundColor = "rgb(230, 255, 230)";
                messageContainer.style.width = "fit-content";
                messageContainer.style.fontSize = "30px";
                document.body.prepend(messageContainer); // Add message at the top of the page
                    

                setTimeout(() => {
                    messageContainer.style.transition = "opacity 0.5s ease";
                    messageContainer.style.opacity = "0";
                    setTimeout(() => messageContainer.remove(), 500);
                }, 5000); // Show for 5 seconds

                localStorage.removeItem("successMessage"); // Clear the message after displaying it
            }
        });
    </script>
{% endblock %}