
<!DOCTYPE html>
<html>
<head>
<title>Registration Form</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'base.html' %}
    <h2>Registration Form</h2>
    <form id="registrationForm" onsubmit="return validateForm()">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <span id="usernameError" style="color: red;"></span>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <span id="emailError" style="color: red;"></span>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <span id="passwordError" style="color: red;"></span>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br>
            <span id="confirmPasswordError" style="color: red;"></span>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
<script src = "{% static 'register.js' %}"></script>
</body>
</html>