{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="profile">
    <div class="content-profile">
        <h2>Profile</h2>

        <!-- Display Current Profile Image -->
        <img src="{{ user.profile.image.url }}" width="260" height="260" alt="Profile Image">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" value="{{ user.username }}" required>
            <br>

            <label for="id_password">New Password:</label>
            <input type="password" name="password" id="id_password">

            {{ form.as_p }}

            <button type="submit">Update</button>
        </form>
    </div>
</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}