{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="view-task">
    <div class="content-view-task">
        <h2 style="text-align: center;">My Current Tasks</h2>
        {% for tsk in task %}
        <div class="container-view-task" style="border: 5px inset gray; background-color: lavender; width: 60%; margin-left: 10px; margin-bottom: 20px; margin-top:15px; line-height: 1.3; font-size: 35px;">

            <p style="text-align: right; font-weight: bold; font-size: 20px; margin-right: 5px;">Created On: {{ tsk.date_posted|date:"F d, Y" }}</p>

            <p style="text-align: right; font-weight: bold; font-size: 20px; margin-right: 5px;"> Last Updated: {{ tsk.date_updated|date:"F d, Y" }}</p>

            <p style="margin-left: 6px; margin-top: 6px; margin-bottom: 6px;">{{ tsk.title }}</p>
            <hr>

            <p style="margin-left: 6px;">{{ tsk.content }}</p>
            <hr>

            <a id="update-btn" href="{% url 'updateTask' tsk.id %}" >Update</a>
            <br>
            <a id="delete-btn" href="{% url 'deleteTask' tsk.id %}" >Delete</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}